<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="css/site.css">


    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/c09802af99.js" crossorigin="anonymous"></script>

    {% block head %}
    {% endblock head %}
</head>

<body>
    <header>
        <a class="logo">Simofi Levente</a>
        <nav id="top-menu">
            <p>about</p>
        </nav>
    </header>

        <div id="page-container">

        <main> 
            {% block content %}
            {% endblock content %} 
            <p> </p>
        </main>

        <footer>
            <p> Simofi Levente 2022 <i class="fa fa-copyright" aria-hidden="true"></i></p>
        </footer>

    </div>

    {% block after_footer %}
    {% endblock after_footer %}
</body>

</html>