{% extends '_layout.html' %}

{% block content %}
    <section id="projects">
        <h2>Projects by me</h2>
        <div class="project-card">
            <a href="visualize_sorting/index.html">Sorting Vizualizer</a><hr>
            <p>2021. 02. 06</p>
            <a href="https://github.com/slevi123/visualize_sorting"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="project-card">
            <a href="visualize_sorting/index.html">Bacalaureat</a><hr>
            <p>2021. 08. 11</p>
            <a href="https://github.com/slevi123/bacalaureat"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="project-card">
            <a href="visualize_sorting/index.html">Leswell Poems</a><hr>
            <p>2021. 02. 06</p>
            <a href="https://github.com/slevi123/visualize_sorting"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="project-card">
            <a href="visualize_sorting/index.html">Sorting Vizualizer</a><hr>
            <p>2021. 02. 06</p>
            <a href="https://github.com/slevi123/visualize_sorting"><i class="fa-brands fa-github"></i></a>
        </div>
        <story-line>
        </story-line>
    </section>
    
{% endblock content %}


{% block after_footer %}
    <script src="js/projects.js"></script>
{% endblock after_footer %}*